<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Price package</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div style="width: 100%; margin: 50px auto;">
        <h2 style="font-size: 22px; letter-spacing: 0.5px;">Greetings!!</h2>
        <p style="font-size: 18px;">We are <b>"Travel Ninjaz"</b>, a Travel Company Aiming to provide the best in
            Websites, Agent Portals, CRM
            and B2B rates for
            Travel Agencies. As an emerging company, we are currently working on promoting offbeat, exotic locations and
            heritage
            tours.</p>
        <p style="font-size: 18px;">We offer the best and most competitive rates for Domestic and International Tour
            Packages.</p>
        <p style="font-size: 18px;">Please have a look at our ready-to-promote and sell <b>LADAKH PACKAGES</b> along
            with this mail.</p>
        <div style="display: flex;align-items: center;justify-content: space-around;">
            <img src="./assets/logoDark.png" alt="logo" style="height: 55px; width: 180px;">
            <div style="margin-top: 15px;">
                <div>
                    <a href="tel:+91 9153738888"
                        style="color: black; text-decoration: none; font-size: 18px; margin: 5px 0;">Call: +91
                        9153738888</a>
                </div>
                <div>
                    <a href="mailto:b2b@travelninjaz.com"
                        style="color: black; text-decoration: none; font-size: 18px; margin: 5px 0;">Mail
                        Us:b2b@travelninjaz.com</a>
                </div>
            </div>
        </div>
        <div style="display: flex; margin: 40px 0;">
            <div style="width:50%;height: 80vh;background-color: #FFF2E9;">
                <div style="margin-top: 80px;">
                    <h2
                        style="font-size: 35px; color: #695128;opacity: 0.7; letter-spacing: 1.5px; text-align: center;">
                        B2B
                    </h2>
                    <h1 style="color: #695128; font-size: 80px; margin-top: -20px; text-align: center;">LADAKH</h1>
                    <h2
                        style="color: #695128;font-size: 35px; margin-top: -30px;opacity: 0.7;letter-spacing: 1.5px; text-align: center;">
                        PACKAGES</h2>
                    <p style="font-size: 22px;letter-spacing: 1px;font-weight: 500; text-align: center;">Guaranteed best
                        B2B
                        rates</p>
                    <div style="text-align: center;margin-top: 50px;">
                        <a href="http://wa.me/919153738888" target="_blank"
                            style="text-decoration: none; color: #fff; background-color: rgb(255,135,48);  padding: 20px 30px; border-radius: 60px;letter-spacing: 0.5px;font-size: 18px;">Get
                            Details on
                            Whatsapp</a>
                    </div>
                </div>
            </div>
            <img src="./assets/46.jpg" alt="packageImage" style="height: 80vh;width: 50%;">
        </div>
        <div>
            <h1 style="font-size: 65px; text-align: center;">Ladakh B2B Packages</h1>
        </div>
        <div style="display: flex; justify-content: space-between;">
            <div style="width: 50%; padding: 10px;">
                <img src="./assets/1 (1).jpg" alt="image" style="width: 100%; height: 280px;">
                <h3 style="text-align: center; font-size: 24px; opacity: 0.9;">4N-5D Beauty of Ladakh</h3>
                <div style="text-align: center; font-size: 18px; opacity: 0.9;">
                    <p>₹ 21000 Per Person (min 2 Pax)</p>
                    <p>₹ 12500 Per Person (min 6 Pax)</p>
                    <p>₹ 10500 Per Person (min 12 Pax)</p>
                </div>
            </div>
            <div style="width: 50%;padding: 10px;">
                <img src="./assets/2 (1).jpg" alt="image" style="width: 100%; height: 280px;">
                <h3 style="text-align: center; font-size: 24px; opacity: 0.9;">5N-6D Best of Ladakh</h3>
                <div style="text-align: center; font-size: 18px; opacity: 0.9;">
                    <p>₹ 24500 Per Person (min 2 Pax)</p>
                    <p>₹ 14500 Per Person (min 6 Pax)</p>
                    <p>₹ 12000 Per Person (min 12 Pax)</p>
                </div>
            </div>
        </div>
        <div style="display: flex; justify-content: space-between;">
            <div style="width: 50%; padding: 10px;">
                <img src="./assets/3 (1).jpg" alt="image" style="width: 100%; height: 280px;">
                <h3 style="text-align: center; font-size: 24px; opacity: 0.9;">6N-7D Amazing Ladakh</h3>
                <div style="text-align: center; font-size: 18px; opacity: 0.9;">
                    <p>₹ 29500 Per Person (min 2 Pax)</p>
                    <p>₹ 17000 Per Person (min 6 Pax)</p>
                    <p>₹ 14000 Per Person (min 12 Pax)</p>
                </div>
            </div>
            <div style="width: 50%;padding: 10px;">
                <img src="./assets/4 (1).jpg" alt="image" style="width: 100%; height: 280px;">
                <h3 style="text-align: center; font-size: 24px; opacity: 0.9;">5N-6D Delightful Ladakh</h3>
                <div style="text-align: center; font-size: 18px; opacity: 0.9;">
                    <p>₹ 37000 Per Person (min 2 Pax)</p>
                    <p>₹ 20000 Per Person (min 6 Pax)</p>
                    <p>₹ 16500 Per Person (min 12 Pax)</p>
                </div>
            </div>
        </div>
        <div
            style="text-align: center;font-size: 22px; margin: 20px 0; padding: 20px 0; background-color: #DCE8DA;color: rgb(84, 82, 82);">
            visit<a href="https://travelninjaz.com" target="_blank"
                style="padding: 0 5px; color: #00acff; text-decoration: none;">travelninjaz.com</a>for more
            information
        </div>
        <hr>
        <div style="margin-top: 70px;">
            <h3 style="font-size: 20px;">TEAM TRAVEL NINJAZ</h3>
            <p style="font-size: 18px; margin-top: -10px; opacity: 0.7;">B2B Packages | Travel Website | CRM</p>
            <div style="font-size: 18px; margin-top: -10px; color: #0088ff;"><i class="fa fa-envelope"></i> <a
                    href="mailto:b2b@travelninjaz.com" style="color: #00acff;">Marketing@travelninjaz.com</a>
            </div>
            <div style="font-size: 18px; margin: 5px 0; color: #00acff;"><i class="fa fa-phone"></i><a
                    style="color: rgb(44, 43, 43); margin-left: 5px;" href="tel:+91 9153738888">+91
                    9153738888</a>
            </div>
            <div style="font-size: 18px; margin: 5px 0; color: #00acff;"><i class="fa fa-link"></i><a
                    href="https://travelninjaz.com/"
                    style="color: rgb(44, 43, 43); margin-left: 5px;">travelninjaz.com</a></div>
        </div>
        <img src="./assets/logoDark.png" alt="logo" style="height: 70px; margin-top: 30px; width: 230px;">
    </div>
</body>

</html>