<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotact</title>
</head>

<body>
    <p
        style="font-family: Work Sans, sans-serif; text-align: left;opacity: 0.7; letter-spacing: 1px; color: gray; font-size: 12.8px; margin: 15px 0;">
        Mobile: <a href=“tel:9725601730”>9725601730</a>
    </p>
    <p
        style="font-family: Work Sans, sans-serif; text-align: left;opacity: 0.7; letter-spacing: 1px; color: gray; font-size: 12.8px; margin: 15px 0;">
        Email: <a href="mailto:manisha.a.parmar@gmail.com">manisha.a.parmar@gmail.com </a>
    </p>
</body>

</html>