<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="margin: 0; padding: 0; box-sizing: border-box;">

    <br />
    <br />


    <div style="min-height: 100vh; width: 100%; display: grid; place-items: center; background-color: #EDF2F6;">
        <div style="width:100%;text-align:center">
            <img src="http://localhost:3000/login/static/media/logo-travel-ninjaz-big-dark.a7e201d8.png" alt="logoDark"
                style="height: 60px; width: 200px; margin: 20px 0;">
            <br />
            <br />

            <div
                style="background-color: #fff;font-family: Work Sans, sans-serif; min-height: 50vh; width: 45vw; margin: auto; border-radius: 5px; padding: 15px 20px;">
                <h3 style="margin: 10px 0; font-family: Work Sans, sans-serif; text-align:left;">Hello, {Firstname}</h3>
                <p
                    style="font-family: Work Sans, sans-serif;text-align:left; opacity: 0.7;letter-spacing: 1px; color: gray; margin-bottom: 10px; font-size: 14px;">
                    Thanks for registering with TravelNinjaz,

                    <br />
                    Please click on the below link to verify your email.
                </p>
                <div style="display: flex; align-items: center; justify-content: center; margin: 40px 0;">
                    <a style="background-color: #1e3163;text-align:center; color: #fff;text-align:left; font-family: Work Sans, sans-serif; padding: 10px 15px; border-radius: 4px; cursor: pointer; text-decoration:none !important"
                        href="{CallBackUrl}" target="_blank">
                        Verify Email
                    </a>
                </div>

                <p
                    style="font-family: Work Sans, sans-serif;text-align:left;opacity: 0.7; letter-spacing: 1px; color: gray; font-size: 14px; margin: 15px 0;">
                    If you did not request for registration, no further action is required.
                </p>
                <div style="margin: 20px 0;">
                    <p
                        style="font-family: Work Sans, sans-serif;opacity: 0.7;text-align:left; letter-spacing: 1px; color: gray; font-size: 14px; margin: 15px 0;">
                        Regards,
                    </p>
                    <p style="font-family: Work Sans, sans-serif;opacity: 0.7;text-align:left; letter-spacing: 1px; color: gray; font-size: 14px; margin: 15px 0;">
                        {ApplicationName}
                    </p>
                </div>
                <hr style="opacity: 0.5;">
                <div>
                    <p
                        style="font-family: Work Sans, sans-serif; text-align: left;opacity: 0.7; letter-spacing: 1px; color: gray; font-size: 12.8px; margin: 15px 0;">
                        If you are have any having any trouble then please feel free to reach us.
                    </p>
                    <p
                        style="font-family: Work Sans, sans-serif; text-align: left;opacity: 0.7; letter-spacing: 1px; color: gray; font-size: 12.8px; margin: 15px 0;">
                        Mobile: <a href=“tel:9725601730”>9725601730</a>
                    </p>
                    <p
                        style="font-family: Work Sans, sans-serif; text-align: left;opacity: 0.7; letter-spacing: 1px; color: gray; font-size: 12.8px; margin: 15px 0;">
                        Email: <a href="mailto:manisha.a.parmar@gmail.com">manisha.a.parmar@gmail.com </a>
                    </p>
                </div>
            </div>
            <div style="margin: 20px 0; font-size: 12.8px;">
                <footer>
                    &copy; 2023 {ApplicationName}. Crafted
                    with
                    <span style="color: red;">&#10084;</span> by <b>THE</b>
                    Digitalogic
                </footer>
            </div>
        </div>
    </div>
</body>

</html>